.slide {
  display: flex;
  flex-direction: column;
  gap: 8px;

  img.image {
    height: 871px;
    object-fit: cover;
    width: 100%;
  }

  @include desktop() {
    display: grid;
    grid-template-columns: repeat(2, minmax(164px, 1fr));
  }
}