.slide {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: rgba(232, 223, 206, 0.24);

  img.image {
    height: 593px;
    object-fit: cover;
    width: 100%;
  }

  @include desktop() {
    display: grid;
    grid-template-columns: 384px minmax(164px, 1fr);

    img.image {
      object-fit: contain;
    }
  }
}

.v2 {
  &.slide {
    gap: 0px;
    background-color: #fff;

    img.image {
      width: 460px;
      height: 712px;
      object-fit: contain;
    }

    @include desktop() {
      grid-template-columns: 460px minmax(164px, 1fr);
    }
  }
}