.LooksCarousel {
  position: relative;

  :global(.swiper-pagination) {
    position: relative;
    margin-top: 6px;
    bottom: 0px;

    :global(.swiper-pagination-bullet-active) {
      opacity: 1 !important;
    }

    :global(.swiper-pagination-bullet) {
      background: $Core-Dark-brown;
      opacity: 0.47;
      width: 6px;
      height: 6px;
    }
  }
}

.thumbSlider {
  margin-top: 24px;

  :global(.swiper-button-lock),
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    display: none;
  }

  :global(.swiper-slide) {
    &:not(:last-child) {
      margin-right: 24px
    }
  }
}

.thumbSlide {
  width: calc(100% / 9);

  img {
    width: 100%;
    height: 164px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
  }


  &:global(.swiper-slide-thumb-active) {
    img {
      border-color: $Core-Light-brass;
    }
  }
}

.slideMobile {
  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.arrow {
  position: absolute;
  z-index: 2;
  right: 23px;
  left: initial;
  top: calc(132px / 2);
  cursor: pointer;

  &:global(.swiper-button-disabled) {
    cursor: not-allowed;
  }

  &.left {
    left: 23px;
    right: initial;
  }
}

.thumbWrapper {
  position: relative;
}