$size: 21px;

.wrap {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	&:not(.checkedAsIcon) {
		.control {
			svg {
				display: none;
			}

			&::after {
				border-radius: 50%;
				width: calc(100% - 7px);
				height: calc(100% - 7px);
				top: auto;
				left: auto;
			}
		}
	}

	&.disabled {
		opacity: 0.6;
	}

	&.stretch {
		width: 100%;

		.title {
			flex-grow: 1;
		}
	}

	.title {
		@include paragraph-regular();
		color: $Core-Dark-brown;
	}

	.control {
		border: 2px solid $Core-Light-brass;
		margin-right: 18px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: $size;
		height: $size;
		border-radius: 4px;
		box-sizing: border-box;
		flex-shrink: 0;

		&::after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}

		.icon {
			transform: scale(0);
			transition: transform .2s;
			color: #fff;
			z-index: 1;
			min-width: $size;
			max-width: 100%;
			height: $size;
		}

		&::after {
			content: '';
			display: flex;
			background: $Core-Light-brass;
			transition: opacity .4s;
			opacity: 0;
			justify-content: center;
			align-items: center;
		}


		&.colored {
			border: 2px solid $Core-Light-brass;


			&::after {
				background: $Core-Light-brass;
			}
		}

		&.rounded {
			border-radius: 50%;
			overflow: hidden;
		}
	}

	.input {
		display: none;
		position: absolute;

		&[disabled] .control {
			opacity: .5;
		}

		&:checked+.control::after {
			opacity: 1;
		}

		&:checked+.control .icon {
			transform: scale(1);
		}
	}
}