.FilterWrapper {
  display: flex;
  min-height: 58px;
  height: auto;
  padding: 8px 0px;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

  li {
    @include paragraph-regular();
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $Core-Dark-brown;
  }
}

.DesktopFilters {
  display: flex;
}

.chevron {
  margin-left: 16px;
  color: $Core-Light-brass;
}

.sort {
  order: 1;
  margin-left: auto;
}

.variant {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.clearAction {
  text-decoration: underline;
  color: $Core-Light-brass;
  padding: 0px 8px;
}