.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 60px;

  h1 {
    font-size: 31px;
    margin-bottom: 24px;
  }

  .code {
    margin-bottom: 8px;
    font-size: 80px;
    font-weight: 500;
  }

  a {
    text-decoration: underline;
  }
}