@import '@/ui/themes/config.scss';

@mixin maxWidth {
  width: 100%;
  max-width: $max-width-desktop;
  margin: 0 auto;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  gap: 0px 0px;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.header {
  grid-area: header;
  position: sticky;
  top: 0px;
  z-index: $z-regular + 2;

  @include desktop() {
    top: 0px;
  }
}

.content {
  grid-area: content;

  &:not(.contentResetStyles) {
    @include maxWidth();

    @include desktop() {
      padding: 0 24px;
      @include templatePaddings();
    }
  }
}

.footer {
  grid-area: footer;
  margin-top: 32px;
  position: relative;
  z-index: $z-minor + 1;

  @include desktop() {
    margin-top: 72px;
  }
}