.drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-top: 68px;

  li {
    height: 48px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $shades-highlight;
  }

  a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $Core-Dark-brown;
  }

  @include desktop() {
    flex-direction: row;
    padding-top: 0px;
    gap: 32px;

    svg {
      display: none;
    }

    li.item {
      height: 56px;
      padding: 0px;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $Core-Light-brass
      }

      &.active {
        border-bottom: 2px solid $Core-Light-brass
      }
    }
  }
}

.footer {
  margin-top: auto;
  position: sticky;
  bottom: 32px;

  .title {
    text-transform: uppercase;
    margin-bottom: 32px;
    padding: 0 24px;
    color: $Core-Dark-brown;
  }
}