.actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
  padding: 0px 24px;

  a {
    border-radius: 4px;
    background: $Core-Champagne;
    color: $Core-Dark-brown;
    display: flex;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
  }
}