.head {
  height: 64px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 16px;
  display: none;

  @include desktop() {
    display: flex;
  }
}

.counter {
  position: absolute;
  color: $Core-Light-brass;
  right: 0px;
}

.lookDescription {
  margin-top: 40px;
  padding: 0 24px;

  p {
    color: $Core-Light-brass;
  }

  @include desktop() {
    max-width: $max-width-desktop;
    margin: 40px auto 0;
    padding: 0 24px;
  }
}

.productsSlider {
  flex-direction: column;
  //justify-content: space-between;
  justify-content: center;

  :global(.swiper-slide) {
    max-width: 199px;
  }

  img {
    height: 377px;
    width: 199px;
  }

  button {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  @include desktop() {
    //padding-top: 46px;
  }
}

.v2 {
  .productsSlider {
    :global(.swiper-slide) {
      max-width: initial;
    }

    img {
      height: 290px;
      width: 188px;
    }
  }
}