.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(232, 223, 206, 0.24);
  padding-bottom: 32px;

  @include desktop() {
    gap: 24px;
    padding-bottom: 56px;
  }
}
