.footer {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  p {
    color: $Core-Dark-brown;
  }

  @include desktop() {
    flex-direction: row;
  }
}

.private {
  @include desktop() {
    margin-right: auto;
  }
}

.socials {
  display: flex;
  gap: 16px;
}