.logo {
  margin: 0 auto;
  display: block;

  svg {
    height: 48px;
    width: 134px;
  }
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $max-width-desktop;
  position: relative;
  overflow: hidden;
}

.shortLogo {
  height: 24px;
  width: 64px;
  transition: transform .3s ease-in-out;
  position: absolute;
  left: 20px;
  transform: translateY(56px);

  &.scrollIsDown {
    transform: translateY(0px);
  }
}