# Storefront container env (passed via env_file in docker-compose)
NODE_ENV=production
API_DOMAIN=api.tsum.ru
SSR_API_DOMAIN=https://api.tsum.ru
CRM_URL=http://mvst-crm:3001
CRM_INGEST_KEY=REPLACE_WITH_STRONG_SHARED_SECRET
