.aboutMust {
  padding: 0 24px;
  grid-column: 1 / 3;
}

.head {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 8px;
  min-height: 48px;

  .title {
    text-transform: uppercase;
    color: $Core-Burnt-umber;
  }

  @include desktop() {
    min-height: 56px;
  }
}

.text {
  color: $Core-Dark-brown;

  @include desktop() {
    text-align: center;
  }
}

.intro {
  color: $Core-Light-brass;
}