$Core-Reach-black: #000;
$Core-Burnt-umber: #230D09;
$Core-Dark-brown: #4A3826;
$Core-Wild-tobacco: #4E2C1E;
$Core-Light-brass: #A68340;
$Core-Champagne: #E8DFCE;
$Core-Pure-white: #ffffff;

$shades-highlight: #F5F4F9;