.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;

  li {
    display: flex;
    color: $Core-Dark-brown;
    padding: 0px 8px;
    flex-direction: column;

    &.checked {
      background-color: $Core-Overlays-ExtraLight;
    }

    a {
      display: flex;
      height: 42px;
      align-items: center;
    }
  }
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;

  li {
    display: flex;
    justify-content: center;
    height: 42px;
  }
}