.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 8px 0px;

  p {
    color: $Core-Dark-brown;
  }

  li {
    display: flex;
    color: $Core-Dark-brown;
    padding: 0px 8px;
    flex-direction: column;

    &.active {
      background-color: $Core-Overlays-ExtraLight;
      padding-top: 8px;
      margin-top: 8px;

      &.transparent {
        background-color: #fff;
      }
    }

    a {
      display: flex;
      height: 42px;
      align-items: center;
    }
  }

  &.isInner {
    padding: 0px;

    li.active {
      padding-top: 0px;
      margin-top: 0px;
    }

    .checkboxes {
      padding: 0px;
    }
  }
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
  padding: 8px 0px;

  li {
    display: flex;
    justify-content: center;
    height: 42px;
  }
}