ul.category {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  overflow-y: auto;

  li.backAction {
    justify-content: flex-start;
    gap: 16px;
    display: flex;
  }

  li {
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $Core-Overlays-light;
    }

    &.active {
      background-color: $Core-Overlays-light;
    }
  }

  @include desktop() {
    max-width: 372px;

    li.backAction {
      display: none;
    }
  }
}

.content {
  background-color: $Core-Overlays-ExtraLight;

  .contentWrapper {
    max-width: $max-width-desktop;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  @include desktop() {
    // max-height: calc(100% - 85px);
    overflow: hidden;

    .contentWrapper {
      max-height: calc(100% - 85px);
    }
  }
}

.footer {
  background-color: $Core-Overlays-ExtraLight;
  width: 100%;
  max-width: $max-width-desktop;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0px;

  .resetFiltersAction {
    display: none;

    @include desktop() {
      display: block;
    }
  }
}

.arrowRight {
  display: none;

  @include desktop() {
    display: block;
  }
}