.page {
  display: flex;
  grid-gap: 8px;
  flex-direction: column;

  @include desktop() {
    display: grid;
    grid-template-columns: repeat(2, minmax(164px, 1fr));
  }
}

.video {
  height: calc(100vh - 60px);
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    object-position: 50% 50%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;

    @include desktop() {
      width: 100%;
      object-fit: cover;
    }
  }

  @include desktop() {
    height: 622px;
    grid-column: 1 / 3;
  }
}

.productsRow {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include desktop() {
    grid-column: 1 / 3;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, minmax(164px, 1fr));

    &.reverse {
      >a {
        order: 2;
      }
    }
  }
}