.page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include desktop() {
    gap: 64px;
  }
}

.video {
  height: calc(100vh - 60px);
  position: relative;
  width: 100%;

  video {
    position: absolute;
    top: 0;
    left: 0;
    object-position: 50% 50%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

  @include desktop() {
    height: 622px;
  }
}
