.callToBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;

  img {
    height: 298px;
    width: auto;
    object-fit: contain;
  }
}

.title {
  text-transform: uppercase;
  padding: 0px 24px;
}