.callToBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 32px;

  img {
    height: 298px;
    width: auto;
    object-fit: contain;
  }

  @include desktop() {
    background: rgba(232, 223, 206, 0.24);
    padding-bottom: 16px;

    img {
      height: 516px;
    }
  }
}

.title {
  text-transform: uppercase;
  padding: 0px 24px;
  color: $Core-Burnt-umber;

  @include desktop() {
    min-height: 56px;
    color: $Core-Reach-black;
  }
}

.responsive {
  grid-column: 1 / 3;
}

.inAppActions {
  width: 327px;
  margin-top: 40px;
}

.appWithQr {
  position: relative;

  .qrCode {
    position: absolute;
    bottom: 40px;
    margin: auto;
    left: 0;
    right: 0;
  }
}